{% extends 'base.html' %}

{% block content %}
<div class="card">
    <div class="card-header">Course List</div>
    <div class="card-body">
        <table class="table table-responsive-sm">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Duration</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ course.title }}</td>
                    <td>{{ course.duration }}</td>
                    <td>                          
                        {% if course in user_obj.course.all %}
                        
                        <button>Already Enrolled</button>
                          {% else %}
                          <form action="/course/list" method="POST">
                          {% csrf_token %}
                          <input hidden type="text" name="course" value="{{ course.id }}">
                          <input type="submit" class="btn btn-primary" value="Enroll">
                          </form>
                        {% endif %}                      
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div>

{% endblock %}